In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

In [ ]:
load_dotenv()

DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")

In [ ]:
from urllib.parse import quote_plus

password = quote_plus(DB_PASSWORD)

engine = create_engine(
    f"postgresql+psycopg2://{DB_USER}:{password}@{DB_HOST}:{DB_PORT}/{DB_NAME}",
    connect_args={"sslmode": "require"},
)

In [ ]:
query = """
select *
from fct_customer_features
"""

df = pd.read_sql(query, engine)

In [ ]:
df.head()

,customer_id,total_orders,total_spend,avg_order_value,recency_days,converted
0,12346.0,2,0.00,0.000000,325.0,0
1,12347.0,7,4310.00,23.681319,1.0,1
2,12348.0,4,1797.24,57.975484,74.0,0
3,12349.0,1,1757.55,24.076027,18.0,1
4,12350.0,1,334.40,19.670588,309.0,0

In [ ]:
df.shape

(4372, 6)

In [ ]:
df["converted"].value_counts()

converted
0    2630
1    1742
Name: count, dtype: int64

In [ ]:
df.columns