In [1]:
import os
import pandas as pd

print("Current working directory:")
print(os.getcwd())

Current working directory:
C:\Users\ritul\OneDrive\Desktop\Projects\customer-conversion-dbt-ml\ingestion

In [2]:
from dotenv import load_dotenv

load_dotenv()

print("DB_HOST:", os.getenv("DB_HOST"))
print("DB_NAME:", os.getenv("DB_NAME"))
print("DB_USER:", os.getenv("DB_USER"))
print("DB_PORT:", os.getenv("DB_PORT"))

DB_HOST: db.wovoiyojphtakfevbdcj.supabase.co
DB_NAME: postgres
DB_USER: postgres
DB_PORT: 5432

In [3]:
csv_path = r"C:\Users\ritul\OneDrive\Desktop\Projects\customer-conversion-dbt-ml\data\Online_Retail.csv"

df = pd.read_csv(
    csv_path,
    encoding="ISO-8859-1"
)

df.shape

(541909, 8)

In [4]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [5]:
df = df[
    [
        "InvoiceNo",
        "StockCode",
        "Description",
        "Quantity",
        "InvoiceDate",
        "UnitPrice",
        "CustomerID",
        "Country",
    ]
]

df.shape, df.columns

((541909, 8),
 Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
        'UnitPrice', 'CustomerID', 'Country'],
       dtype='object'))

In [11]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

# Prepairing Data Base Connection

In [13]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

password = quote_plus(os.getenv("DB_PASSWORD"))

engine = create_engine(
    f"postgresql+psycopg2://{os.getenv('DB_USER')}:{password}"
    f"@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}",
    connect_args={"sslmode": "require"},
)
print('Success')

Success

In [15]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("select 1"))
    print("DB connection successful:", result.scalar())

DB connection successful: 1

In [18]:
# Align DataFrame columns to database (lowercase)
df.columns = [c.lower() for c in df.columns]

df.columns

Index(['invoiceno', 'stockcode', 'description', 'quantity', 'invoicedate',
       'unitprice', 'customerid', 'country'],
      dtype='object')

In [19]:
df.head(10).to_sql(
    "raw_orders",
    engine,
    if_exists="append",
    index=False
)

print("Inserted 10 rows successfully")

Inserted 10 rows successfully

In [20]:
from sqlalchemy import text

with engine.connect() as conn:
    count = conn.execute(text("select count(*) from raw_orders")).scalar()
    print("Rows in raw_orders:", count)

Rows in raw_orders: 10

In [ ]:
df.to_sql(
    "raw_orders",
    engine,
    if_exists="append",
    index=False,
    chunksize=5000
)

print("FULL raw_orders load completed")

In [ ]:
with engine.connect() as conn:
    count = conn.execute("select count(*) from raw_orders").scalar()
    print("FINAL row count:", count)